.details-title {
    margin-bottom: 0.7em;
}

.details-image {
    margin-bottom: 1em;
    height: 300px;
    border-radius: 15px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-genres {
    margin-bottom: 1em;
}

.details-date {
    margin-bottom: 1em;
    font-weight: bold;
    display: block;
}

.hidden {
    display: none;
}
