.details-image {
  margin-bottom: 1em;
  height: 300px;
  border-radius: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screenshot-image {
  margin-bottom: 1em;
  height: 600px;
  border-radius: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

iframe {
  height: 300px;
  width: 100%;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

/* --- Mobile Styles --- */
@media only screen and (max-width: 790px) {
  .details-image {
    width: 100%;
  }

  iframe {
    border-radius: 0px;
    margin-top: 0px;
  }

  .details-image,
  .screenshot-image {
    border-radius: 0px;
  }

  .screenshot-image {
    height: 300px;
  }
}

/* --- Tablet Styles --- */
@media only screen and (min-width: 791px) and (max-width: 950px) {
  .product-grid {
    background-color: var(--price);
    border-radius: 15px;
    padding: 20px;
    width: 25%;
    height: 260px;
    float: right;
    margin-top: -315px;
  }

  .details-image {
    max-width: 67%;
  }

  .screenshot-image {
    height: 400px;
  }
}

/* --- Desktop Styles --- */
@media only screen and (min-width: 951px) {
  .product-grid {
    background-color: var(--price);
    border-radius: 15px;
    padding: 20px;
    width: 25%;
    height: 260px;
    float: right;
    margin-top: -315px;
  }

  .details-image {
    max-width: 67%;
  }
}
