input[type="text"],
input[type="password"],
textarea {
  padding: 10px;
  width: 75%;
  max-width: 500px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 25px;
  color: var(--input);
  text-decoration: none;
  font-family: "Avenir Next Rounded Pro Regular", Tahoma, Verdana, sans-serif;
  font-weight: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 50%;
  top: 50%;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

label {
  color: var(--secondgradient);
  text-decoration: none;
  font-family: "Avenir Next Rounded Pro Medium", Tahoma, Verdana, sans-serif;
  font-weight: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.newsletter h3 {
  text-align: center;
  font-size: 20px;
}

.newsletter {
  margin-top: 60px;
  margin-bottom: 60px;
}

form {
  text-align: center;
}

form p{
  margin: 20px;
}

form button{
  margin: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.search-container {
  
}

.search-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* --- Mobile Styles --- */
@media only screen and (max-width: 790px) {
  input[type="text"],
  input[type="password"],
  textarea {
    width: 95%;
    padding: 16px;
  }
}
