html,
body {
  background: #f5f5f5;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: white;
  text-align: center;
  color: var(--footer) !important;
  font-size: 12px;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.results {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
}

.primary {
  color: var(--primary-colour);
}

.bg-dark {
  background-color: var(--grey) !important;
}

.index-image {
  background-image: url("../../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
}

.contact-image {
  background-image: url("../../images/contact_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login-image {
  background-image: url("../../images/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.register-image {
  background-image: url("../../images/register_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cart-image {
  background-image: url("../../images/cart_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-image {
  background-image: url("../../images/about_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.categories-image {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../images/categories_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.product-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../../images/product_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.categories-image .navigation-back {
  margin-left: 40px;
  margin-bottom: -30px;
}

.checkout-image {
  background-image: url("../../images/checkout_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.categories li {
  display: inline-block;
}

.categories ul {
  padding: 0px;
  text-align: center;
}

.categories a {
  font-family: "commando", Tahoma, Verdana, sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: var(--secondgradient);
  padding: 10px;
  margin: 10px;
  min-width: 50%;
  display: inline-block;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -webkit-filter: brightness(100%);
  background: #ddd;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* --- Mobile Styles --- */
@media only screen and (max-width: 790px) {
  .intro {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 60%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 80%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box-product {
    background: var(--opacitywhite);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .results {
    align-items: center;
    justify-content: center;
  }

  .categories li {
    display: block;
  }
}

/* --- Tablet Styles --- */
@media only screen and (min-width: 791px) and (max-width: 950px) {
  .intro {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 40%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 80%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box-product {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 80%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .results {
    align-items: center;
    justify-content: center;
  }
}

/* --- Desktop Styles --- */
@media only screen and (min-width: 951px) {
  .intro {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 30%;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 40%;
    padding: 40px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .box-product {
    background: var(--opacitywhite);
    border-radius: 15px;
    width: 80%;
    padding: 40px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .results {
    align-items: center;
    justify-content: center;
  }
}
